<div class="col-md-offset-1">
  <h1>Table of Books</h1>
  <form role="form" {{action 'submit' on='submit'}}>
    <table class="table-striped col-md-8">
      <thead>
        <tr>
          <th class="col-md-4">
            Title
          </th>
          <th class="col-md-2">
            Director
          </th>
          <th class="col-md-6">
            Actors
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each movies as |movie|}}
          <tr>
            <td class="title">
              {{movie.title}}
            </td>
            <td>
              {{movie.director}}
            </td>
            <td>
              {{#each actors as |actor|}}
														{{actor.name}}
														{{/each}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </form>
</div>

{{yield}}
